<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
                    [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content>

            <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
                 *ngIf="{
                filterServicesToApply: filterServicesToApply$ | async,
                servicesLoading: servicesLoading$ | async,
                servicesData: servicesData$ | async,
                servicesPagination: servicesPagination$ | async,
                serviceSelected: serviceSelected$ | async
            } as vm">
                <div
                        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Servicios</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="vm.servicesPagination?.totalRows > 0">
                                {{ vm.servicesPagination?.totalRows }}
                            </ng-container>
                            {{
                                vm.servicesPagination?.totalRows | i18nPlural: {
                                    '=0': 'Sin servicios',
                                    '=1': 'servicio',
                                    'other': 'servicios'
                                }
                            }}
                        </div>
                    </div>
                    <div class="flex items-center mt-4 sm:mt-0 w-full">
                        <div class="flex-auto md:mx-32">
                            <mat-form-field class="mat-dense mat-no-subscript mat-rounded w-full min-w-50">
                                <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass'"
                                          class="icon-size-4 mr-2"></mat-icon>
                                <input matInput #searchText [autocomplete]="'off'"
                                       (keyup)="searchServicesByQuery(searchText.value)"
                                       [placeholder]="'Busqueda de servicios'">
                            </mat-form-field>
                        </div>
                        <button class="ml-4" mat-flat-button [color]="'accent'" (click)="loadAllServices()">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
                            <span class="ml-2 mr-1">Actualizar</span>
                        </button>
                        <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['./new']">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Agregar</span>
                        </button>
                    </div>
                </div>
                <div class="flex flex-auto overflow-hidden">
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="vm.servicesData.length">
                            <div class="flex flex-col">
                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="overflow-hidden">
                                            <table class="min-w-full py-4 px-6">
                                                <thead
                                                        class="py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                                <tr>
                                                    <th class="font-bold px-6 py-4 text-left">
                                                        Descripción
                                                    </th>
                                                    <th class="font-bold px-6 py-4 text-left">
                                                        Activo
                                                    </th>
                                                    <th class="font-bold px-6 py-4 text-right">
                                                        Detalles
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <ng-container
                                                        *ngFor="let service of vm.servicesData">
                                                    <tr class="border-b"
                                                        [ngClass]="{'bg-gray-800': vm.serviceSelected?.service_id == service.service_id}">
                                                        <td class="px-6 py-4  font-medium">
                                                            {{ service.service_nombre }}
                                                        </td>
                                                        <td class="px-6 py-4">
                                                            <mat-icon [svgIcon]="'heroicons_outline:check'" *ngIf="service.service_activa" class="text-green-400 icon-size-4"></mat-icon>
                                                            <mat-icon [svgIcon]="'heroicons_outline:x-mark'" *ngIf="!service.service_activa" class="text-red-400 icon-size-4"></mat-icon>
                                                        </td>
                                                        <td class="px-6 py-4 text-right">
                                                            <a class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                               mat-stroked-button
                                                               [routerLink]="['./', service.service_id]">
                                                                <mat-icon [svgIcon]="'heroicons_outline:eye'" class="icon-size-4"></mat-icon>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-paginator
                                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    (page)="changePagination($event)"
                                    [ngClass]="{'pointer-events-none': vm.servicesLoading}"
                                    [length]="vm.servicesPagination?.totalRows"
                                    [pageIndex]="vm.servicesPagination?.currentPage - 1"
                                    [pageSize]="vm.filterServicesToApply?.perPage" [pageSizeOptions]="[10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                        </ng-container>
                        <div *ngIf="!vm.servicesData.length && !vm.servicesLoading"
                             class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No se
                            encontraron
                            registros!
                        </div>
                    </div>
                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
